{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/typography.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- <link rel="icon" type="image/png" href="{% static 'assets/Branding_Assets 14 Logo White PNG.png' %}"/> -->

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        colors: {
                            primary: '#0062DD',
                            secondary: '#FFD747',
                            seclight: '#A1A7FF'
                        }
                    }
                }
            }
        </script>
        
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
    </head>
<body>
    <style>
        * {
            font-family: 'Nunito Sans', 'Roboto', 'Helvetica', sans-serif;
        }
        .code {
            font-family: 'Fira Code', monospace;
        }
        a:hover {
            cursor: pointer;
        }
    </style>


    {% block outsidecontents %}
    {% endblock %}

    <div class="content bg-blue-100 min-h-screen px-3 py-5" style="max-width: 100vw;">
        {% block htmlcontents %}
        {% endblock %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });
    
        window.onbeforeunload = function(e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>

    {% block scripts %}
    {% endblock %}

</body>
</html>